<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Print</title>
<th:block th:replace="fragments/head" />
</head>
<body>
	<th:block th:replace="fragments/top" />
	<br>
	<div th:if="${not #lists.isEmpty(entries)}">

	<h4>All Entries:</h4>
	<br>
		<div th:each="entry : ${entries}">
			<p th:text="${entry.firstName} + ' ' + ${entry.lastName}" />
			<p th:text="${entry.email}" />
			<p th:text="${entry.phoneNumber}" />
			<br>
		</div>

	</div>

	<div th:unless="${not #lists.isEmpty(entries)}">
		<p>The address book is currently empty.</p>
		<br>
	</div>
	<a th:href="@{/}">Return to Main Menu</a>
	<br>
</body>
</html>