<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Print</title>
<th:block th:replace="fragments/head" />
</head>
<body>
	<th:block th:replace="fragments/top" />
	<br>
	<div th:if="${not #lists.isEmpty(entries)}">

		<div th:each="entry : ${entries}">
			<p th:text="${firstName} + ' ' + ${lastName}" />
			<p th:text="${phoneNumber}" />
			<p th:text="${email}" />
		</div>

	</div>

	<div th:unless="${not #lists.isEmpty(entries)}">
		<p>The address book is currently empty.</p>
	</div>

	<br>



	<a th:href="@{/}">Return to Main Menu</a>

</body>
</html>