<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Remove</title>
<th:block th:replace="fragments/head" />
</head>
<body>
	<th:block th:replace="fragments/top" />
	<br>

	<p>Please enter the email of the entry to be deleted.</p>
	<br>
	<div class="form">
		<form action="#" th:action="@{/removeresult}" th:object="${entry}"
			method="post">
			<table>
				<tr>
					<td>Email:</td>
					<td><input type="text" th:field="*{email}" /></td>
				</tr>
			</table>
			<button class="button" type="submit">Delete Entry</button>

		</form>
	</div>
</body>
</html>