<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search</title>
<th:block th:replace="fragments/head" />
</head>
<body>
	<th:block th:replace="fragments/top" />

	<br>
	<p>Please enter the email of the entry to be search.
	<p>
	<div class="form">
		<form action="#" th:action="@{/searchresult}" th:object="${entry}"
			method="post">
			<table>
				<tr>
					<td>Email:</td>
					<td><input type="text" th:field="*{email}" /></td>
				</tr>

			</table>

			<button class="button" type="submit">Search</button>

		</form>
	</div>
</body>
</html>